* {
    margin:0px;
    padding:0px;
}

.header {
    margin: 0;
    width: 118.999rem;
    height: 59.18rem;
    background-image: url(../img/fachada-n.jpg);
    background-repeat: no-repeat,repeat;
    background-size: cover;
}

@media (min-width: 790px) {
    .header{
        width: 84.3rem;
        height: 40.2rem;
    }
}

/*TOP con Logo*/
.header-n{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header-info{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.header-info{
    margin: 0 2rem;
}

.logo-h{

}

.img-s{
    padding: 1rem 8rem;
    height: 6rem;
    width: 24rem;
}

.menu{

}

@media (min-width: 790px) {
    .img-s{
        padding: 1rem 10rem;
        width: 16rem;
        height: 4rem;
    }
}

/*Barra de Navegacion*/
.nav{
    width: 120rem;
    margin: 0rem 6rem 2rem 6rem;/*2rem=arriba; 0=derecha; 0=abajo; 5rem=izquierda*/
    z-index: 1000;
    position: relative;
}

.menu-nav{
    display: flex;
    background-color: rgb(6, 0, 90);
}

.tit-nav{
    color: #fff;
}

ul {
    list-style:none;
}

.nav li a {
    background-color:rgb(6, 0, 90);
    color:#fff;
    text-decoration:none;
    padding:1rem 10rem ; 
    display:flex;
}

.nav li a:hover {
    background-color:#f8cb00;
}

.tit-nav:hover, .sub-tit-nav:hover{
    color: black;
}

.sub-sub-tit-nav:hover{
    color: rgb(6, 0, 90);
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:16rem;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-17rem;
    top:0px;
}

.tit-nav{
    display: flex;
    padding: 0 5rem;
}


@media (min-width: 790px) {
    .nav{
        width: 65rem;
        margin: 1rem 2rem 0 10rem;
    }

    .nav li a{
        padding: 1rem 2rem;
    }

}

/* SLIDER */
.slider{
    width: 100%;
    height: 70%;
    overflow: hidden;
    display: block;
}

.slider ul{
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.slider li{
    width: 100%;
    list-style: none;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

.slider-s{
    display: block;
}

.slide1{
    position: relative;
    text-align: center;
}

.card{
    text-decoration: none;
    align-content: center;
}

.card-tex{
    background-color: rgb(6, 0, 90);
    text-decoration: none;
    color: #fff;
    font-size: 4rem;
    font-weight: 2rem;
    border-radius: 1rem;
    width: 10rem;
    text-align: center;
}


.photo{
    height: 35rem;
    width: 90rem;
    margin: 0 15rem;
}

@media (min-width: 790px) {
    .photo{
        height: 30rem;
        width: 64rem;
        margin: 0 10rem 0 10rem;
    }

    @keyframes cambio{
        0%{margin-left: 0;}
        20%{margin-left: 0;}
        25%{margin-left: -99%;}
        45%{margin-left: -99%;}
        50%{margin-left: -199%;}
        70%{margin-left: -199%;}
        75%{margin-left: -298%;}
        100%{margin-left: -298%;}
    }
}

/*Eventos*/

.target-event{
    width: 110rem;
}

.target-m{
    display: flex;
    justify-content: space-between;
    margin: 4rem 4rem;
    padding: 0 0 0 8rem;
}

.unir{
    height: 30rem;
    width: 22rem;
    border: 0.1rem solid black;
    border-radius: 1rem 0 1rem 0;
}

.unir:hover{
    color: black;
}

.target-a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    text-align: center;
}
.target-img{
    height: 12rem;
    width: 20rem;
    margin: 1rem 1rem;
    border-radius: 0 1rem 0 1rem;
}

.info{
    margin-top: 0rem;
}

@media (min-width: 790px) {
    .target-event{
        width: 80rem;
    }

    .target-m{
        margin: 2rem;
        padding: 0 0 0 6rem;
    }

    .unir{
        height: 20rem;
        width: 20rem;
    }

    .target-img{
        height: 8rem;
        width: 18rem;
        margin: 1rem;
    }
}